/sourcecode/CAMELYON16/.ipynb_checkpoints/
/sourcecode/CAMELYON16/application.log
/sourcecode/ORCA/application.log
/sourcecode/ORCA/.fuse_hidden0000504200000002
/sourcecode/ORCA/.ipynb_checkpoints/
/sourcecode/OCDC/application.log
/sourcecode/OCDC/.ipynb_checkpoints/
/.idea/
__pycache__
/datasets/*/results*/**
/datasets/*/testing/**
/datasets/*/training/lesion_annotations/**
/datasets/*/training/normal/**
/datasets/*/training/tumor/**
/datasets/*/training/*_latex*
/models/
.vscode/settings.json
/sourcecode/Utils/GAN/checkpoints/**/results*/**
/sourcecode/Utils/GAN/checkpoints/**/events.*
/sourcecode/GAN/checkpoints/**/*.log
/sourcecode/GAN/checkpoints/**/*.pt
/sourcecode/GAN/checkpoints/**/*.png
/sourcecode/Utils/GAN/examples/**
**.amlignore*
!gen_00430000.pt
*.csv
!/results/*
!/results/*/*
!/results/*/*/*
!/datasets/ORCA_512X512/*.csv
!/datasets/ORCA/*.csv
!/datasets/OCDC/*.csv
!/datasets/CAMELYON16/*.csv
nohup.out
